.container {
	height: calc(100vh - 281px - 96px);
	width: 80vw;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.booking-confirm-title {
	font-size: 45px;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	margin: 0 0;
}

.booking-confirm-message {
	color: #495e57;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	margin: 0 0;
}

@media screen and (max-width: 767px) {
	.container {
		height: calc(100vh - 281px);
	}

	.booking-confirm-title {
		font-size: 32px;
	}

	.booking-confirm-message {
		font-size: 16px;

	}
}